/ola-mundo-java-fx/nbproject/private/
/ola-mundo-java-fx/dist/
/ola-mundo-java-fx/build/
/RelogioSwing/nbproject/private/
/relogio-swing/nbproject/private/
/relogio-swing/build/
/idioma-do-sistema-swing/nbproject/private/
/idioma-do-sistema-swing/build/
/resolucao-da-tela-swing/nbproject/private/
/resolucao-da-tela-swing/build/
/tipos-primitivos/nbproject/private/
/tipos-primitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/soma-swing/nbproject/private/
/soma-swing/build/